.product-cards--container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.product-detail--title{
    margin-bottom: 30px;
}

.bitcoin-img-container h2{
    padding-top: 100px;
    font-size: 4.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}

.plans-container--slider{
    justify-content: center;
}